// variables
$golden-ratio: 1.61803398875;

// padding
.p {
	&l {
		@for $i from 0 through 5 {
			&-#{$i} {
				padding-left: $i * 1rem;
			}
		}
	}
	&r {
		@for $i from 0 through 5 {
			&-#{$i} {
				padding-right: $i * 1rem;
			}
		}
	}
	&t {
		@for $i from 0 through 5 {
			&-#{$i} {
				padding-top: $i * 1rem;
			}
		}
	}
	&b {
		@for $i from 0 through 5 {
			&-#{$i} {
				padding-bottom: $i * 1rem;
			}
		}
	}
	&a {
		@for $i from 0 through 5 {
			&-#{$i} {
				padding: $i * 1rem;
			}
		}
	}
	&x {
		@for $i from 0 through 5 {
			&-#{$i} {
				padding-left: $i * 1rem;
				padding-right: $i * 1rem;
			}
		}
	}
	&y {
		@for $i from 0 through 5 {
			&-#{$i} {
				padding-top: $i * 1rem;
				padding-bottom: $i * 1rem;
			}
		}
	}
}

// margin
.m {
	&l {
		@for $i from 0 through 5 {
			&-#{$i} {
				margin-left: $i * 1rem;
			}
		}
	}
	&r {
		@for $i from 0 through 5 {
			&-#{$i} {
				margin-right: $i * 1rem;
			}
		}
	}
	&t {
		@for $i from 0 through 5 {
			&-#{$i} {
				margin-top: $i * 1rem;
			}
		}
	}
	&b {
		@for $i from 0 through 5 {
			&-#{$i} {
				margin-bottom: $i * 1rem;
			}
		}
	}
	&a {
		@for $i from 0 through 5 {
			&-#{$i} {
				margin: $i * 1rem;
			}
		}
	}
	&x {
		@for $i from 0 through 5 {
			&-#{$i} {
				margin-left: $i * 1rem;
				margin-right: $i * 1rem;
			}
		}
	}
	&y {
		@for $i from 0 through 5 {
			&-#{$i} {
				margin-top: $i * 1rem;
				margin-bottom: $i * 1rem;
			}
		}
	}
}

// text
@import url('https://fonts.googleapis.com/css?family=Audiowide|Concert+One|Roboto&display=swap');
.text {
	&-roboto {
		font-family: 'Roboto', cursive;
	}
	&-audiowide {
		font-family: 'Audiowide', cursive;
	}
	&-concertone {
		font-family: 'Concert One', sans-serif;
	}
}

// flexbox
.is-flex {
	&-row {
		flex-direction: row;
	}
	&-column {
		flex-direction: column;
	}
	&-wrap {
		flex-wrap: wrap;
	}
	&-centered {
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	&-grow {
		flex-grow: 1;
	}
	&-justified {
		&-around {
			justify-content: space-around;
			align-items: center;
			align-content: center;
		}
		&-evenly {
			justify-content: space-evenly;
			align-items: center;
			align-content: center;
		}
		&-right {
			justify-content: flex-end;
			align-items: center;
			align-content: center;
		}
		&-left {
			justify-content: flex-start;
			align-items: center;
			align-content: center;
		}
	}
	&-aligned {
		&-top {
			align-items: flex-start;
		}
		&-bottom {
			align-items: flex-end;
		}
		&-center {
			align-items: center;
		}
		&-stretch {
			align-items: stretch;
		}
		&-baseline {
			align-items: baseline;
		}
	}
}

// utils
.w {
	&-100 {
		width: 100%;
	}
	&-80 {
		width: 80%;
	}
	&-60 {
		width: 60%;
	}
	&-60 {
		width: 40%;
	}
}

.h {
	&-100 {
		height: 100%;
	}
	&-auto {
		height: auto;
	}
}
