<template>
  <div class="is-flex is-flex-column has-background-light">
    <hero-bg heroHeading="contact" heroSubheading="send me a message" bgSVG="contact_bg.svg"></hero-bg>
    <section class="section is-flex is-flex-centered">
      <div class="columns container is-flex-centered">
        <div class="column is-half-desktop">
          <b-message
            title="Message sent successfully!"
            type="is-success"
            has-icon
            aria-close-label="Close message"
            :active.sync="successMessage"
          >Thank you for your message, I will reply soon.</b-message>
          <b-message
            title="Unable to send message"
            type="is-danger"
            has-icon
            aria-close-label="Close message"
            :active.sync="failMessage"
          >
            Please double-check all the fields below and try again. If the issue
            persists, please check your internet connection.
          </b-message>
          <b-field
            label="Name"
            label-position="inside"
            :type="nameError.style"
            :message="nameError.message"
            custom-class="is-medium has-text-primary text-roboto"
          >
            <b-input
              v-model.trim="$v.name.$model"
              placeholder="e.g. Jhon Doe"
              maxlength="30"
              size="is-medium"
            ></b-input>
          </b-field>
          <b-field
            label="e-Mail"
            label-position="inside"
            :type="emailError.style"
            :message="emailError.message"
            custom-class="is-medium has-text-primary text-roboto"
          >
            <b-input
              v-model="$v.email.$model"
              placeholder="e.g. john@domain.com"
              maxlength="30"
              size="is-medium"
            ></b-input>
          </b-field>
          <b-field
            label="Subject"
            label-position="inside"
            :type="subjectError.style"
            :message="subjectError.message"
            custom-class="is-medium has-text-primary text-roboto"
          >
            <b-input
              v-model="$v.subject.$model"
              placeholder="Subject here"
              maxlength="50"
              size="is-medium"
            ></b-input>
          </b-field>
          <b-field
            label="Message"
            label-position="inside"
            :type="messageError.style"
            :message="messageError.message"
            custom-class="is-medium has-text-primary text-roboto"
          >
            <b-input
              v-model="$v.message.$model"
              placeholder="Type message here..."
              type="textarea"
              maxlength="500"
              size="is-medium"
            ></b-input>
          </b-field>
          <div class="columns">
            <div class="column is-half buttons">
              <b-button @click="clearForm()" size="is-medium" type="is-danger" expanded>Clear</b-button>
            </div>
            <div class="column is-half buttons">
              <b-button
                :disabled="$v.validationGroup.$invalid"
                @click="sendMessage()"
                size="is-medium"
                type="is-success"
                expanded
              >Send</b-button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import HeroBg from "@/components/HeroBg.vue";

import axios from "axios";

import { required, minLength, alpha, email } from "vuelidate/lib/validators";

export default {
  name: "Contact",
  components: { HeroBg },
  data() {
    return {
      name: "",
      email: "",
      subject: "",
      message: "",
      isLoading: false,
      successMessage: false,
      failMessage: false
    };
  },
  methods: {
    clearForm() {
      this.name = "";
      this.email = "";
      this.subject = "";
      this.message = "";
      this.$v.$reset();
    },
    async sendMessage() {
      this.isLoading = true;
      await axios
        .post(
          `${process.env.VUE_APP_EMAIL_API_BASE_URL}/api/sendmail/${process.env.VUE_APP_EMAIL_TOKEN}`,
          {
            subject: this.subject,
            sender: this.email,
            message: `NAME: ${this.name} 
						E-MAIL: ${this.email}
						SUBJECT: ${this.subject}
						DATE: ${Date.now()}
						MESSAGE:

						${this.message}`
          },
          {
            timeout: 15000
          }
        )
        .then(res => {
          if (res.status === 201) {
            this.clearForm();
            this.successMessage = true;
            this.failMessage = false;
            console.log(res);
          } else {
            this.failMessage = true;
            this.successMessage = false;
          }
          this.isLoading = false;
        })
        .catch(err => {
          console.log(err);
          this.isLoading = false;
          this.failMessage = true;
          this.successMessage = false;
        });
    }
  },
  computed: {
    nameError() {
      if (this.$v.name.$dirty && this.$v.name.$invalid) {
        return {
          style: "is-danger",
          message: "Name must be at least 2 characters"
        };
      } else if (this.$v.name.$dirty && !this.$v.name.$invalid) {
        return {
          style: "is-success",
          message: null
        };
      } else {
        return {
          style: null,
          message: null
        };
      }
    },
    emailError() {
      if (this.$v.email.$dirty && this.$v.email.$invalid) {
        return {
          style: "is-danger",
          message: "Please enter a valid email"
        };
      } else if (this.$v.email.$dirty && !this.$v.email.$invalid) {
        return {
          style: "is-success",
          message: null
        };
      } else {
        return {
          style: null,
          message: null
        };
      }
    },
    subjectError() {
      if (this.$v.subject.$dirty && this.$v.subject.$invalid) {
        return {
          style: "is-danger",
          message: "Subject must be at least 2 characters"
        };
      } else if (this.$v.subject.$dirty && !this.$v.subject.$invalid) {
        return {
          style: "is-success",
          message: null
        };
      } else {
        return {
          style: null,
          message: null
        };
      }
    },
    messageError() {
      if (this.$v.message.$dirty && this.$v.message.$invalid) {
        return {
          style: "is-danger",
          message: "Message must be at least 10 characters"
        };
      } else if (this.$v.message.$dirty && !this.$v.message.$invalid) {
        return {
          style: "is-success",
          message: null
        };
      } else {
        return {
          style: null,
          message: null
        };
      }
    }
  },
  validations: {
    name: {
      required,
      minlength: minLength(2)
    },
    email: {
      required,
      email
    },
    subject: {
      required,
      minLength: minLength(2)
    },
    message: {
      required,
      minLength: minLength(10)
    },
    validationGroup: ["name", "email", "subject", "message"]
  }
};
</script>
