<template>
  <div class="is-flex is-flex-column">
    <section class="section hero hero-background is-relative pa-0">
      <div class="hero-body is-flex is-flex-centered">
        <div class="container">
          <div
            class="text-concertone is-size-2-desktop is-size-3-tablet is-size-4-mobile has-text-centered has-text-white"
          >
            Hello, I'm
            <span class="has-text-primary text-concertone">Willie Potgieter</span>,
          </div>
          <div
            class="text-concertone is-size-3-desktop is-size-4-tablet is-size-5-mobile has-text-centered has-text-white"
          >full-stack web developer</div>
          <div class="buttons is-flex is-flex-centered pt-1">
            <b-button tag="router-link" to="/contact" type="is-primary">CONTACT</b-button>
            <b-button
              tag="a"
              href="https://www.upwork.com/freelancers/~0186709f2384aeeb19?viewMode=1&s=1110580755107926016"
              target="_blank"
              type="is-white"
              icon-left="suitcase"
              icon-pack="fas"
              si
              outlined
            >Hire me</b-button>
          </div>
        </div>
      </div>
      <div class="is-flex is-flex-centered">
        <div
          class="card stack is-flex is-flex-row is-flex-justified-around has-background-white-bis"
        >
          <span class="is-flex is-flex-centered" v-for="item in stack" :key="item.name">
            <stack-item
              :imageFile="item.image"
              :techUrl="item.url"
              :techName="item.name"
              :techDesc="item.description"
            />
          </span>
        </div>
      </div>
    </section>
    <section class="section has-background-light is-flex-grow">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="has-text-primary text-concertone is-size-4 title">Intro</h1>
          <p class="text-roboto is-size-6 has-text-grey-dark">
            I’m a freelance full-stack web developer specializing in the building of custom web
            applications using the
            <a
              href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93viewmodel"
              target="_blank"
            >MVVM pattern</a> with RESTful API’s. This allows for separation
            between front-end and backend code, resulting in a better user experience on the front-end
            and greater scallability of the backend. I build web applications that run on hardware
            ranging from a IoT devices (see
            <a
              href="https://onion.io/"
              target="_blank"
            >Omega Onion</a>
            and
            <a
              href="https://www.raspberrypi.org/products/"
              target="_blank"
            >Raspberry Pi</a>) to desktop computers to highly scalable cloud architecture (
            <a
              href="https://www.heroku.com/"
              target="_blank"
            >Heroku</a>).
            My current tech stack is
            <a
              href="https://www.mongodb.com/"
              target="_blank"
            >MongoDB</a>,
            <a href="https://hapi.dev/" target="_blank">hapi</a>,
            <a href="https://vuejs.org/" target="_blank">vue</a> and
            <a href="https://nodejs.org/en/about/" target="_blank">node</a>.
          </p>
        </div>
        <div class="column is-one-third">
          <div class="is-flex is-flex-row is-flex-wrap is-flex-centered h-100">
            <figure class="image is-96x96">
              <img class="is-rounded avatar" src="../assets/images/ek.jpg" alt="willie-picture" />
            </figure>
            <div class="mt-1 w-100 is-flex is-flex-wrap is-flex-centered">
              <blockquote
                class="px-1 w-40 is-flex is-flex-wrap is-flex-centered text-roboto is-italic has-text-grey is-size-5-desktop is-size-6-touch has-text-centered"
              >"...welcome to my personal site, feel free to contact me..."</blockquote>
            </div>
            <span
              class="w-100 is-flex is-flex-wrap is-flex-centered text-roboto has-text-grey is-size-6-desktop is-size-7-touch has-text-weight-bold has-text-centered"
            >Willie Potgieter</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import StackItem from "@/components/StackItem.vue";

export default {
  name: "Home",
  components: { StackItem },
  data: () => {
    return {
      introText: `I’m a freelance full-stack web developer specializing in the building of custom web applications using the MVVM pattern with RESTful API’s. This allows for separation between front-end and backend code, resulting in a better user experience on the front-end and higher scallability for the backend. I build web applications that run on hardware ranging from a IoT devices (see Omega Onion) to desktop computers to highly scalable cloud archhitecture (Heroku). My current tech stack is MongoDB, hapi, vue and node.`,
      stack: [
        {
          name: "mongoDB",
          description: "MongoDB",
          image: "mongo_s.png",
          url: "https://www.mongodb.com/"
        },
        {
          name: "hapijs",
          description: "Hapi.js",
          image: "hapijs.png",
          url: "https://hapi.dev/"
        },
        {
          name: "vuejs",
          description: "Vue.js",
          image: "vuejs.png",
          url: "https://vuejs.org/"
        },
        {
          name: "nodejs",
          description: "Node.js",
          image: "node.png",
          url: "https://nodejs.org/en/about/"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.hero {
  &-text {
    font-size: 18px;
  }
  &-background {
    width: 100%;
    height: 400px;
    background-image: url("../assets/images/hero_f.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.avatar {
  border: 2px solid white;
  box-shadow: 0px 2px 4px grey;
}
.stack {
  width: 380px;
  height: 70px;
  position: absolute;
  bottom: -35px;
}
@include mobile {
  .stack {
    width: 100%;
    bottom: -86px;
    margin-bottom: 1rem;
  }
  .card {
    box-shadow: none;
  }
  .hero {
    margin-bottom: 30px;
  }
}
</style>
