<template>
  <div class="is-flex is-flex-column">
    <hero-bg heroHeading="projects" heroSubheading="endless possibilities" bgSVG="projects_bg.svg"></hero-bg>
    <section class="section has-background-light is-flex-grow">
      <div class="columns is-multiline is-desktop">
        <div class="column is-full-desktop">INFOTEXT</div>
        <div class="column is-one-third-desktop is-flex category">
          <div class="category-fe w-100 h-100">A</div>
        </div>
        <div class="column is-one-third-desktop is-flex category">
          <div class="category-fe w-100 h-100">B</div>
        </div>
        <div class="column is-one-third-desktop">C</div>
      </div>
    </section>
  </div>
</template>

<script>
import HeroBg from "@/components/HeroBg.vue";

export default {
  name: "Projects",
  components: { HeroBg }
};
</script>


<style lang="scss" scoped>
.category {
  background: transparent;
  &-fe {
    border: 4px solid green;
  }
}
</style>
