<template>
  <div class="is-flex is-flex-column">
    <hero-bg heroHeading="services" heroSubheading="bringing ideas to life"></hero-bg>
    <section class="section has-background-light is-flex-grow">
      <div class="columns is-multiline h-auto">
        <div class="column is-three-fifths-desktop is-full-touch mb-2">
          <h1 class="has-text-primary text-concertone is-size-4 title">What I do</h1>
          <p class="text-roboto is-size-6 has-text-grey-dark mb-1">
            For most personal or business websites consisting only of a couple of pages, by far the
            most feasible (and cost effective) solution would be to build a site – or have one built –
            using Wordpress which is the most popular CMS in the world...and free.
          </p>
          <p class="text-roboto is-size-6 has-text-grey-dark mb-1">
            For anything else that is perhaps a bit more complicated in the sense of requiring user
            login, database read/write, custom user workflows, high scallability or custom integration
            with 3rd party services – you would likely require a custom solution built exactly to your
            specific requirements and that’s where I can help :) I specialize in building modern web
            applications where the frontend (what you see - browser) and backend (what you don't see –
            server side) are completely separated and function as two distinct parts where the frontend
            communicates with backend services using a custom RESTful API. Doing things this way allows
            for massive scallability of the application without having to re-write the entire codebase.
          </p>
          <p class="text-roboto is-size-6 has-text-grey-dark">
            Furthermore, web applications do not neccesarily only have to run on a website or on the
            internet... for example a document control application can be built to run on a normal
            computer in a small office environment where staff are able to upload documents via a
            landing page in their browser and follow a wizard to automatically allocate a document
            number and upload the document to a server (or cloud storage like Dropbox, Google Drive
            etc). There are infinate possibilities and the advantage in having a custom application
            developed is that YOU/YOUR company owns that application and source code...there are no
            monthly charges or anything like that once the application has been built.
          </p>
          <div class="is-flex is-flex-centered is-hidden-touch mt-5">
            <vue-fontawesome :icon="['fas', 'cogs']" class="gears has-text-grey-light"></vue-fontawesome>
          </div>
        </div>
        <div class="column is-two-fifths-desktop is-full-touch">
          <div class="columns is-multiline h-100">
            <div
              v-for="(service, i) in services"
              :key="i"
              class="column is-half-widescreen is-full-desktop is-half-tablet"
            >
              <service-item
                :serviceTitle="service.name"
                :serviceDescription="service.description"
                :serviceIcon="service.icon"
                :serviceTags="service.tags"
              ></service-item>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import ServiceItem from "@/components/ServiceItem.vue";
import HeroBg from "@/components/HeroBg.vue";

export default {
  name: "Services",
  components: { ServiceItem, HeroBg },
  data: function() {
    return {
      services: [
        {
          name: `API's`,
          description: `Development of RESTful API's to implement custom business logic using the hapijs framework and MongoDB.`,
          icon: {
            fa: "code",
            pack: "fas"
          },
          tags: [
            { title: "node.js", link: "https://nodejs.org/en/about/" },
            { title: "hapi.js", link: "https://hapi.dev/" },
            { title: "mongoDB", link: "https://www.mongodb.com/" }
          ]
        },
        {
          name: "Web Apps",
          description:
            "Building of custom, fast-loading front-end web applications. Integration with either a traditional backend or with Google Firebase.",
          icon: {
            fa: "window-restore",
            pack: "far"
          },
          tags: [
            { title: "vue.js", link: "https://vuejs.org/" },
            { title: "nuxt.js", link: "https://nuxtjs.org/" },
            { title: "firebase", link: "https://firebase.google.com/" }
          ]
        },
        {
          name: "Cloud",
          description:
            "Set up and deploy nodejs web applications to Heroku cloud platform using GitLab CI",
          icon: {
            fa: "cubes",
            pack: "fas"
          },
          tags: [
            { title: "heroku", link: "https://www.heroku.com/" },
            { title: "gitlab", link: "https://about.gitlab.com/" },
            {
              title: "ci",
              link:
                "https://about.gitlab.com/stages-devops-lifecycle/continuous-integration/"
            },
            { title: "node.js", link: "https://nodejs.org/en/about/" }
          ]
        },
        {
          name: "IoT",
          description:
            "Bulding of applications that run on IoT devices such as Omega Onion or Raspberry Pi single board computers.",
          icon: {
            fa: "microchip",
            pack: "fas"
          },
          tags: [
            { title: "nuxt.js", link: "https://nuxtjs.org/" },
            { title: "hapi.js", link: "https://hapi.dev/" },
            { title: "node.js", link: "https://nodejs.org/en/about/" },
            { title: "onion", link: "https://onion.io/" },
            {
              title: "RPi",
              link: "https://www.raspberrypi.org/products/"
            }
          ]
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.hero-bg {
  background-image: url("../assets/images/services_bg.svg");
  background-size: 23rem;
  background-repeat: repeat;
}
.gears {
  font-size: 150px;
}
</style>
