<template>
  <footer>
    <section class="footer-main section py-1 has-background-primary is-flex is-flex-centered">
      <div class="columns h-100 w-100">
        <div class="column is-flex is-flex-centered is-one-half">
          <div class="is-flex is-flex-centered h-100">
            <span
              class="pb-1 has-text-centered text-concertone has-text-white has-text-centered is-size-2-desktop is-size-3-tablet is-size-4-mobile"
            >Let’s connect!</span>
          </div>
        </div>
        <div class="column is-flex is-flex-row is-flex-justified-evenly is-one-half py-2">
          <div class="level is-mobile w-100">
            <a
              v-for="link in links"
              :key="link.name"
              :href="link.url"
              target="_blank"
              class="level-item has-text-centered"
            >
              <b-icon
                type="is-white"
                :icon="link.icon.name"
                :pack="link.icon.pack"
                class="is-size-1-tablet is-size-2-mobile"
              ></b-icon>
            </a>
            <router-link to="contact" class="level-item has-text-centered">
              <b-icon
                type="is-white"
                icon="envelope"
                pack="fas"
                class="is-size-1-tablet is-size-2-mobile"
              ></b-icon>
            </router-link>
          </div>
        </div>
      </div>
    </section>
    <section
      class="footer-bar section py-0 has-background-grey-darker is-flex is-flex-row is-flex-centered"
    >
      <div class="text-roboto is-size-7 has-text-grey-light">©2020 — Willie Potgieter</div>
    </section>
  </footer>
</template>

<script>
export default {
  name: "Footer",
  data: function() {
    return {
      links: [
        {
          name: "gitlab",
          icon: {
            name: "gitlab",
            pack: "fab"
          },
          url: "https://gitlab.com/williepotgieter"
        },
        {
          name: "linkedin",
          icon: {
            name: "linkedin-in",
            pack: "fab"
          },
          url: "https://www.linkedin.com/in/whpotgieter/"
        },
        {
          name: "telegram",
          icon: {
            name: "telegram-plane",
            pack: "fab"
          },
          url: "https://t.me/williepotgieter"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.footer {
  &-main {
    min-height: 100px;
  }
  &-bar {
    height: 25px;
  }
}
@include tablet-only {
  .footer {
    &-main {
      min-height: 100px;
    }
  }
}
@include desktop {
  .footer {
    &-main {
      min-height: 120px;
    }
    &-bar {
      height: 35px;
    }
  }
}
</style>
