<template>
  <section :style="heroStyle" :class="bgColour" class="section hero hero-bg is-small">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h3 :class="heroTextColour" class="title is-3 text-concertone is-uppercase">{{heroHeading}}</h3>
        <h5
          :class="heroTextColour"
          class="subtitle is-5 text-concertone is-uppercase"
        >{{heroSubheading}}</h5>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "HeroBG",
  props: {
    heroHeading: {
      type: String,
      default: "Heading"
    },
    heroSubheading: {
      type: String,
      default: "Subheading"
    },
    heroTextColour: {
      type: String,
      default: "has-text-white-ter"
    },
    bgColour: {
      type: String,
      default: "is-dark"
    },
    bgSVG: {
      type: String,
      default: "services_bg.svg"
    }
  },
  computed: {
    heroStyle() {
      const imageUrl = require(`../assets/images/${this.bgSVG}`);
      return {
        backgroundImage: `url(${imageUrl})`
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.hero-bg {
  background-size: 23rem;
  background-repeat: repeat;
}
</style>