<template>
  <div class="image" :class="cardRatio">
    <div class="card has-ratio">
      <div class="card-item-icon is-flex is-flex-centered has-background-warning">
        <figure class="image" :class="imageSize">
          <vue-fontawesome
            :icon="[serviceIcon.pack, serviceIcon.fa]"
            class="has-ratio has-text-grey-dark"
          ></vue-fontawesome>
        </figure>
      </div>
      <div class="card-item-title is-flex is-flex-aligned-center has-background-grey-dark px-1">
        <h2
          class="has-text-warning has-text-centered w-100 text-concertone is-size-4-tablet is-size-5-mobile"
        >{{serviceTitle}}</h2>
      </div>
      <div class="card-item-info is-size-6-tablet is-size-7-mobile px-1 pt-1">{{serviceDescription}}</div>
      <div
        class="card-item-tags is-hidden-mobile is-flex is-flex-aligned-center is-flex-justified-right pa-1"
      >
        <div class="tags is-flex-justified-right">
          <a
            v-for="(tag, i) in serviceTags"
            :key="i"
            :href="tag.link"
            target="_blank"
            class="tag has-background-grey-lighter"
          >{{tag.title}}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NewServiceItem",
  props: {
    serviceTitle: String,
    serviceDescription: String,
    serviceIcon: Object,
    serviceTags: Array
  },
  computed: {
    cardRatio() {
      switch (this.$mq) {
        case "desktop":
          return "is-5by3";
          break;
        case "tablet":
          return "is-3by2";
          break;
        case "mobile":
          return "is-3by1";
          break;
        case "xs":
          return "is-2by1";
          break;
        default:
          return "is-3by4";
      }
    },
    imageSize() {
      switch (this.$mq) {
        case "tablet":
          return "is-32x32";
          break;
        case "mobile":
          return "is-48x48";
          break;
        case "xs":
          return "is-24x24";
          break;
        default:
          return "is-32x32";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.card {
  display: grid;
  &-item {
    &-icon {
      grid-area: c_icon;
    }
    &-title {
      grid-area: c_title;
    }
    &-info {
      grid-area: c_info;
    }
    &-tags {
      grid-area: c_tags;
    }
  }
}

@include widescreen {
  .card {
    grid-template-areas:
      "c_icon c_title"
      "c_info c_info"
      "c_tags c_tags";
    grid-template-rows: 70px auto 70px;
    grid-template-columns: 70px auto;
  }
}

@include desktop-only {
  .card {
    grid-template-areas:
      "c_icon c_title"
      "c_info c_info"
      "c_tags c_tags";
    grid-template-rows: 75px auto 40px;
    grid-template-columns: 75px auto;
  }
}

@include tablet-only {
  .card {
    grid-template-areas:
      "c_icon c_title"
      "c_info c_info"
      "c_tags c_tags";
    grid-template-rows: 70px auto 40px;
    grid-template-columns: 70px auto;
  }
}

@include mobile {
  .card {
    grid-template-areas:
      "c_icon c_title"
      "c_icon c_info";
    grid-template-rows: 25% auto;
    grid-template-columns: 15% auto;
  }
}
</style>