<template>
	<b-tooltip position="is-bottom" :label="techDesc">
		<a class="is-flex is-flex-centered" :href="techUrl" target="_blank">
			<figure class="image is-flex is-flex-centered" :class="imageSize">
				<img :src="require(`@/assets/images/${imageFile}`)" />
			</figure>
		</a>
	</b-tooltip>
</template>

<script>
export default {
	name: 'StackItem',
	props: {
		imageFile: String,
		techUrl: String,
		techName: String,
		techDesc: String
	},
	computed: {
		imageSize() {
			return this.$mq === 'mobile' ? 'is-32x32' : 'is-48x48';
		}
	}
};
</script>
