<template>
  <div class="container is-fluid is-marginless is-relative" id="page-container">
    <b-loading :is-full-page="true" :active.sync="loadingStatus">
      <!-- <div style="z-index: 1000;" class="has-text-dark">LOADING</div> -->
      <preloader></preloader>
    </b-loading>
    <b-navbar spaced transparent shadow id="page-navbar">
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          <h1 class="is-size-4-touch is-size-3-desktop has-text-primary text-audiowide">WP</h1>
        </b-navbar-item>
      </template>
      <template slot="end">
        <b-navbar-item class="text-roboto is-size-5 mr-2" tag="router-link" :to="{ path: '/' }">home</b-navbar-item>
        <b-navbar-item
          class="text-roboto is-size-5 mr-2"
          tag="router-link"
          :to="{ path: '/services' }"
        >services</b-navbar-item>
        <b-navbar-item
          class="text-roboto is-size-5"
          tag="router-link"
          :to="{ path: '/contact' }"
        >contact</b-navbar-item>
      </template>
    </b-navbar>
    <router-view id="page-content"></router-view>
    <Footer id="page-footer" />
  </div>
</template>

<script>
import Preloader from "@/components/Preloader.vue";
import Footer from "@/components/Footer.vue";
export default {
  name: "App",
  components: {
    Preloader,
    Footer
  },
  data: function() {
    return {
      isLoading: true
    };
  },
  computed: {
    loadingStatus() {
      return this.isLoading;
    }
  },
  created: function() {
    this.isLoading = true;
  },
  updated: function() {
    // this.isLoading = false;
    setTimeout(() => {
      this.isLoading = false;
    }, 2000);
  }
};
</script>


<style lang="scss">
#page {
  &-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    min-height: 100vh;
    width: 100%;
    & > * {
      width: 100%;
    }
  }
  &-navbar {
    align-self: flex-start;
  }
  &-content {
    align-self: flex-start;
    flex-grow: 1;
  }
  &-footer {
    align-self: flex-end;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>